<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Scores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddScore()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <!-- <ion-list-header>
      Finished scores
    </ion-list-header> -->

    <ion-item-sliding
      [routerLink]="'/score/' + score.id"
      routerDirection="forward"
      *ngFor="let score of scores"
    >
      <ion-item button="true" detail="true" detail-icon-color="primary">
        <ion-avatar slot="start" class="flex-center-column">
          <span
            [ngClass]="score.firstTeam.score > score.secondTeam.score ? 'highlight-score' : ''"
            >{{score.firstTeam.score}}</span
          >
          <span
            [ngClass]="score.secondTeam.score > score.firstTeam.score ? 'highlight-score' : ''"
            >{{score.secondTeam.score}}</span
          >
        </ion-avatar>
        <ion-label>
          <h2>
            <span
              [ngClass]="score.firstTeam.score > score.secondTeam.score ? 'highlight-score' : ''"
              >{{score.firstTeam.name}}</span
            >
            :
            <span
              [ngClass]="score.secondTeam.score > score.firstTeam.score ? 'highlight-score' : ''"
              >{{score.secondTeam.name}}</span
            >
          </h2>
          <p>at {{score.createdDate}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          (click)="deleteScore(score.id)"
          color="danger"
          size="large"
          ><ion-icon name="trash" size="large"></ion-icon
        ></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
